---
import '../styles/global.css'
// TreeNode.astro

import * as url from "url";
// export interface Props {
//     node: [
//         {
//             title: string;
//             url?: string;
//             children?: Array<{ title: string; url: string, children?: any[] }>;
//         }
//     ];
// }


const {node, depth = 0} = Astro.props;
const insert = `${depth * 25}px`;
---

{
    (node || []).map((item:any) =>
    <details open>
        <summary>
            {item.url ? <a data-title={item.title}
                           class="item"
                           href={item.url}>{item.title}
                    </a> :
                    <span class="strong item">{item.title}</span>
            }
        </summary>
        <Astro.self node={item.children} depth={depth + 1}/>
    </details>
        )
    }
<style define:vars={{insert}}>
    details {
        user-select: none;
        color: var(--color-text);
        width: 100%;
    }

    .contents {
        background: white;
        font-size: 14px;
    }

    .item:hover {
        background-color: var(--background-hover);
        border-radius: 3px;
        background: var(--color-theme-1);
        color: white;
    }

    .item {
        display: flex;
        flex: 1;
        padding: 7px 7px 7px var(--insert);
        align-items: center; /* 确保子元素在垂直方向上居中对齐 */
        flex-direction: row; /* 水平排列子元素 */
        cursor: pointer;
    }

    details[open] span::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid var(--color-text-hint);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        margin-right: 6px;
    }

    details:not([open]) span::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid transparent; /* 上边框透明 */
        border-bottom: 4px solid transparent; /* 下边框透明 */
        border-right: 4px solid transparent;
        border-left: 4px solid var(--color-text-hint); /* 左边框实色，决定了三角形的颜色 */
        margin-right: 6px;

    }

    a {
        color: var(--color-text);
        text-decoration: none;
    }


    .strong {
        font-weight: bold;
    }
</style>